.col-xs-12 {
  width: 33.3333%;
}

.fieldset {
  margin-bottom:10px;
  clear:both;
  page-break-before: auto;
  page-break-inside: avoid;
  > .title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px -15px;
    padding: 5px 10px;
    border-color: #000;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
  }
  > .description {
    margin-bottom:20px;
  }
}


.form-group { 
  page-break-before: auto;
  page-break-inside: avoid;
  margin-bottom:20px;
  box-shadow:none;

  input[type=text] {
    width:100%;
  }


  .form-control {
    display:block;
    border:none;
    border-bottom:1px solid black;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    border-radius:0;
  }

  .form-group-title {
    margin-bottom:0px;
    font-size:12px;
    display: inline-block;
  }

  .intructions {
    margin-top:-5px;
    margin-bottom:10px;
    font-size:75%;
    font-style: italic;
    color:#888;
  }

  label.radio {
    display:block;
    margin-bottom: 5px;
    padding-left:20px;
  }
  label.checkbox {
    display:block;
    margin-bottom: 5px;
    padding-left:20px;
  }
}

.address {
  float:right;
  font-size:12px;
}