<% if can_administer? %>
  <%= link_to new_question_group_path, :class => "btn btn-primary", :style => "float:right;" do %>
    <i class="fa fa-plus-circle" style="margin-right:5px;"></i>
    Nouveau questionnaire
  <% end %>
<% end %>
<h1>
  Liste des questionnaires
</h1>
<hr/>

<table class="table">
  <tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Questions</th>
    <th>Auteur</th>
    <th width="330"></th>
  </tr>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
